p {
   font-size: 46px;
}

#answersText {
    color: blue;
}

#overlay {
    background-color: blue;
}

#page {
    background-color: blue;
}

body {
    background-color: blue;
    font-size: 40px;
}
